@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Top Rated Movies of All Time</h2>
    <table id="TopRatedMovies" class="display" width="80%">
        <thead>
            <tr>
                <th class="tabledisplay">Title</th>
                <th class="hidden">Poster Path</th>
                <th class="tabledisplay">OverView</th>
                <th class="hidden">Release Date</th>
                <th class="tabledisplay">Popularity</th>
                <th class="hidden">Vote Count</th>
                <th class="tabledisplay">Vote Average</th>
            </tr>
        </thead>
    </table>
</body>
</html>
<script type="text/javascript">
    //const options = {
    //    method: 'GET',
    //    headers: {
    //        accept: 'application/json',
    //        Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyY2VhMTkxYmRlMjc3NjQwMGU3NWZlYTFiODFkMjQ2NiIsInN1YiI6IjY2MDI3ZmExMTk3ZGU0MDE4NjFjNGNlNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.YnW2nRd-M9Z78ts0NKwza6_yyNbOIZ5sSB8-M0GNP5g'
    //    }
    //};

    //fetch('https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1', options)
    //    .then(response => response.json())
    //    .then(response => console.log(response))
    //    .catch(err => console.error(err));

    //request.onload = function () {
    //    var TopMovieRecords = JSON.parse(this.response).data
    //    console.log(TopMovieRecords)

    //    $(document).ready(function () {

    //    });
    //};

</script>