<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <!-- ApexCharts CDN -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/USAPopulation.css">
</head>
<body>
    <div class="Graph">
        <h2>USA Population</h2>
        <p>Yearly Population</p>
        <div class="area-chart">
            <div class="grid"></div>
        </div>
    </div>

    <script src="~/js/USAPopulation.js"></script>
</body>
</html>